@import url(http://fonts.googleapis.com/css?family=Oswald:400,700|Merriweather:400,300);
@import "bootstrap-sprockets";
@import "bootstrap";

/* Mixins, variables, etc... */

@mixin nav_link_hover {
	transition: 0.4s;
	color: lighten(#222, 30%);
	text-decoration: none;
}

/* Universal styles */

body, .jumbotron {
 	height: 100%;
  background: -webkit-linear-gradient(40deg, #45F768 10%, #BCFDF7 100%);
  background: -moz-linear-gradient(40deg, #45F768 10%, #BCFDF7 100%);
  background:  -ms-linear-gradient(40deg, #45F768 10%, #BCFDF7 100%);
  background:  linear-gradient(40deg, #45F768 10%, #BCFDF7 100%);
  font-family: 'Lato', sans-serif;
}

a {
	color: darken(#e7e7e7, 70%);
}

/* Navbar and navigation styles */

.navbar {
	font-family: 'Arial', sans-serif;
	text-transform: uppercase;
}

.navbar-default {

	padding-top: 5px;
	padding-bottom: 5px;
  	background: linear-gradient(40deg, #45F768 10%, #BCFDF7 100%);

	.navbar-nav > li > a {
		color: #222;
	}

	.navbar-link {
		color: #222;
	}

	.navbar-brand {
		color: #222;
		letter-spacing: 1.25px;
	}

}

/* Item styles */

.item {
	border-bottom: 1px solid #e7e7e7;
	padding-bottom: 1.5em;
	.item-title {
		font-family: 'Oswald', sans-serif;
		margin-top: 0;
	}
	.item-desc {
		font-size: 1em;
	}
	.time-ago {
		color: darken(#e7e7e7, 50%);
		font-size: 0.85em;
		letter-spacing: 1.25;
	}
	.item-sub-title {
		margin-bottom: 0;
	}
}

.item:nth-child(n+1) {
	padding-top: 1.5em;
}
