<div class="jumbotron col-md-10 col-md-offset-2">
	<h1>Tada! Check your Todo List!</h1>
	<p>Track your work.</p>
	<%= link_to "Register", new_user_registration_path, class: "btn btn-primary" %>
	<%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>


</div>